.InfoBox{
    text-align: center;
}

.cardContainer{
    display: flex;
    justify-content: center;
    
}
.cardContainer:hover {
    transform: scale(1.05);
     transition: transform 0.3s ease-in-out;
      
}